.c {
    max-width: 90em;
    padding: 4em;
    padding-top:1em;
}

:root {
    --font: Tahoma, Arial, Helvetica, sans-serif;
}

p{
    margin-left:20px;
    margin-right:20px;
}

ol{
    margin-left:40px;
}



h1 {
    font-family:Courier New, Courier, monospace;
    color: #000;
    margin-top: 0px;
    font-size: 3em;
}

h4 {
    color: #fa0;
    font-weight: normal;
}

h5 {
    color: #000;
    font-size: 1em;
}

.center {
    text-align: center;
}

.grassetto {
    font-weight: bold;
    font-size: 4em;
    margin-top:20px;
    margin-bottom:0px;
}

.smaller {
    font-size: 2em;
    margin-top:0px;
    margin-bottom:60px;
}


.center-btn {
    display: block;
    margin: auto;
}

.btn {
    font-size: 1.1em;
    font-weight: bold;
    margin: 2px 0px 0px 10px;
    border-radius: 15px;
    background:#CCC;
    color:#FFF;
}

.btn:disabled {
    background-color: #ddd;
    border-color: #ddd;
}

.btn:disabled {
    opacity: 1;
}

.btn:hover {
    opacity: 1;
    background-color: #005DA4;
    border-color: #005DA4;
}

a:hover {
    opacity: 1;
    color: #005DA4;
}

.credits {
    text-align: right;
    font-size: 0.8em;
    line-height: 1.2em;
}

iframe {
    border: 10px solid #CCC;
    border-radius: 20px;
}

.card {
    border: 1px solid #333;
    border-radius: 8px;
    padding:0px 0px 0px 10px;
    margin-top:5px;
    color: #fa0;
    font-family: courier;
    height: 65px;
    width: 85%;
    text-wrap: wrap;
}

.flex-v {
    display: flex;
    flex-direction: column;
}

.flex-h {
    display: flex;
    flex-direction: row;
}

#sigma {
    border: 1px solid black;
    width: 80%;
    height: 70vh;
    border-radius: 10px;
    padding:10px;
    margin:0px;
    margin-bottom: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: block;
    width: 115px;
    height: 34px;
    margin: auto;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    margin: 0;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(80px);
    -ms-transform: translateX(80px);
    transform: translateX(80px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #c4c4c4;
  border-radius: 1rem;
  height: 0.4rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -7.2px; /* Centers thumb on the track */
  background-color: #ffaa00;
  border-radius: 2rem;
  height: 1.3rem;
  width: 1.3rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #ffaa00;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #c4c4c4;
  border-radius: 1rem;
  height: 0.4rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #ffaa00;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 2rem;
  height: 1.3rem;
  width: 1.3rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #ffaa00;
  outline-offset: 0.125rem;
}